asgiref==3.8.1  
certifi==2024.2.2  
cryptography==44.0.1  
Django==5.1.6  
django-allauth==65.4.1 
django-extensions==3.2.3
django-filter==23.5
django-import-export==3.3.7
django-unfold==0.20.3
idna==3.7  
oauthlib==3.2.2  
pillow==10.1.0  
psutil==5.9.8  
PyJWT==2.10.1  
python-dotenv==1.0.1  
requests==2.31.0  
requests-oauthlib==2.0.0  
sqlparse==0.5.3  
tzdata==2023.3  
urllib3==2.2.1  
